<!DOCTYPE html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
</head>
<body>
    <div class="nav-bar">
        <div class="items">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
        </div>
    </div>

        <div class="slider">
        <div class="row">
            <img src="/img/ui.jpg">
            <img src="/img/js.jpg">
            <img src="/img/node.jpg">
            <img src="/img/express.png">
            <img src="/img/mongo.jpg">
        </div>
    </div>

</body>
</html>